html{
  font-family:"Open Sans";
}

body{
  height: 900px;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

#navigation_top{
  position:fixed;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: #ededed;
  border-bottom:1px solid #cccccc;

}

.userInfo {
  width: 8%;
  float : right;
  height: 45px;
  padding-left: 5px;
  margin: 0 auto;
  text-align: center;
  padding-top: 2px;
  padding-right: 45px;
}

.userInfo:hover{
  cursor: pointer;
  background-color: #007399;
}

.userInfo a:hover{
  color:white;
}


.navigation{
  margin-top: 0px;
  height: 100%;
  width: 100%;
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #007399;
  z-index: 0;
}

.navigation .mainmenu{
  padding-top: 45px;
  list-style-type: none;
}

.submenu{
  list-style-type: none;
      position: relative;
      z-index: 6;
      padding: 0;
      border-right: 3px solid blanchedalmond;
      width: 137px;
  }

.submenu li{
    position: static;
    font-size: 19px;
    z-index:6;
}
.navigation div{
  width: 127px;
  padding-left: 10px;
  color: white;
}


.site-wrap{
  min-height: 100%;
  min-width: 100%;
  margin-left: 40px;
  margin-top: 45px;
  position: relative;
  background-color:white;
  z-index: 1;
}



.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}


label[for="nav-trigger"] {
  position: fixed;
  left: 50px; top: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  //background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
  z-index: 2;
}

.nav-trigger + label{
  transition: left 0.15s;
}

.nav-trigger:checked + label {
  left: 190px;
}

.nav-trigger:checked ~ .site-wrap,.nav-trigger:checked ~ .footer{
  left: 140px;
}
.nav-trigger:checked ~ .navigation .iconita-collapsed{
  display:none;
}


.userAvatar{
  border-radius: 100%;
  width:40px;
  height: 40px;
}
.userInfo a{
  position: relative;
  bottom: 14px;
  text-decoration: none;
  color: #3E3E3F;
  padding-left: 10px;
}

.iconita{
  font-size: 30px;
  font-family: 'Exo 2';
  width: 100%;
  display: inline;
}
.iconita i{
  margin-right: 10px;
  color: blanchedalmond;
}

ul li i{
  position: relative;
  top: 32px;
  right: 30px;
  color : white;
  font-size:12px;
}

.nav-item:hover{
  color:blanchedalmond;
  background-color: #0086b3;
  cursor: pointer;
  border-right: 4px solid blanchedalmond;
}
ul li {
  font-size:23px;
}

#tana{
  position: relative;
  font-size: 36px;
  color:#007399;
  top:6px;
  left:6px;
  z-index: 5;
}

.footer {
    border-top:1px solid #cccccc;
    background-color: #e6e6e6;
    clear: both;
    position: relative;
    height: 200px;
    margin: 0 auto;
    margin-left: 40px;
    text-align: center;
    color:#333333;
}
.footer-main{
  display: inline-block;
  color:#333333;
}
.contact ul{
  margin: 0;
  list-style: none;
  display: inline-flex;
}

.contact ul li{
  margin-left:40px;
}
.contact ul li a i{
  color:#007399;
}
.contact ul li a i:hover{
  color:white;
}

.footer-main p a{
  text-decoration: none;
  color: #333333;
}

.footer-main p a:hover{
  color: white;
}
#content{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
}

#content object{
  margin-top: 30px;
  width: 100%;
  height: 500px;
}


.mainmenu li i{
  cursor: pointer;
}
